# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# Logs
*.log

# Byte-compiled files
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other files
*.DS_Store
